@font-face {
    font-family: 'poppins';
    src: url('~@/assets/fonts/Poppins-LightItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'poppins-reg';
    src: url('~@/assets/fonts/Poppins-Regular.ttf') format('truetype');
  }